*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color-scheme: light dark;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}
